body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  float: left;
  width: 8.5833333333%;
  height: 61px;
  margin-left: 11%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

._button-1 {
  width: 60.8333333333%;
  height: 177px;
}

._button-2 {
  width: 6%;
  height: 116px;
}

._button-4 {
  width: 5.8333333333%;
  height: 62px;
}