body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.element {
  position: relative;
  float: left;
  z-index: 1;
  width: 4.4166666666%;
  height: 53px;
  border: 10px double rgb(0, 0, 0);
  background-color: rgb(222, 222, 222);
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.wrapper {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 1.5833333333%;
  margin-left: 45.06901%;
  overflow: hidden;
}

._button {
  display: block;
  float: left;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  position: relative;
  float: left;
  z-index: 0;
  width: 65%;
  height: 53px;
  padding: 0 10px;
  background-color: rgb(135, 129, 129);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.image-1 {
  position: relative;
  clear: both;
  z-index: 4;
  width: 490px;
  margin-top: 34px;
}

.image-2 {
  position: relative;
  z-index: 6;
  width: 137px;
  margin: 9px 0 0 7.78125%;
}

.image-3 {
  position: relative;
  z-index: 7;
  width: 164px;
  margin-left: 6.53125%;
}

.image-4 {
  position: relative;
  z-index: 8;
  width: 148px;
  margin: 17px 0 0 7.86719%;
}

.image-5 {
  position: relative;
  clear: both;
  z-index: 9;
  width: 109px;
  margin-top: 59px;
}

.image-6 {
  clear: both;
  width: 840px;
  margin-left: -0.58073%;
}

._button-1 {
  position: relative;
  z-index: 2;
  width: 28.5833333333%;
  height: 68px;
  margin-top: 53px;
  border-radius: 3px;
}

._button-2 {
  position: relative;
  clear: both;
  z-index: 3;
  width: 70%;
  height: 46px;
  margin: 26px 0 0 -0.58073%;
  border-radius: 31121231px;
}

._button-3 {
  position: relative;
  z-index: 10;
  width: 59.8333333333%;
  height: 109px;
  margin: 59px 0 0 0.5%;
  border-radius: 3px;
}

._button-4 {
  clear: both;
  width: 55.4026041666%;
  height: 58px;
  margin: 90px 0 0 9.59896%;
  border-radius: 3px;
}

._button-5 {
  clear: both;
  width: 18.9166666666%;
  height: 28px;
  margin: 211px 0 0 50.5%;
  border-radius: 3px;
}